In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sb

%matplotlib inline

In [22]:
luny = pd.read_csv('../Dataset/Atlanta_2009_2018.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [48]:
ny = pd.read_csv('../Dataset/NewYork.csv')
ny.dtypes

CMPLNT_NUM             int64
ADDR_PCT_CD            int64
BORO_NM               object
CMPLNT_FR_DT          object
CMPLNT_FR_TM          object
CMPLNT_TO_DT          object
CMPLNT_TO_TM          object
CRM_ATPT_CPTD_CD      object
HADEVELOPT            object
HOUSING_PSA          float64
JURISDICTION_CODE    float64
JURIS_DESC            object
KY_CD                  int64
LAW_CAT_CD            object
LOC_OF_OCCUR_DESC     object
OFNS_DESC             object
PARKS_NM              object
PATROL_BORO           object
PD_CD                float64
PD_DESC               object
PREM_TYP_DESC         object
RPT_DT                object
STATION_NAME          object
SUSP_AGE_GROUP        object
SUSP_RACE             object
SUSP_SEX              object
TRANSIT_DISTRICT     float64
VIC_AGE_GROUP         object
VIC_RACE              object
VIC_SEX               object
X_COORD_CD           float64
Y_COORD_CD           float64
Latitude             float64
Longitude            float64
Lat_Lon               object
dtype: object

In [27]:
luny.head(4).transpose()

,0,1,2,3
Report Number,90010930,90011083,90011208,90011218
Report Date,2009-01-01,2009-01-01,2009-01-01,2009-01-01
Occur Date,2009-01-01,2009-01-01,2009-01-01,2009-01-01
Occur Time,1145,1330,1500,1450
Possible Date,2009-01-01,2009-01-01,2009-01-01,2009-01-01
Possible Time,1148,1330,1520,1510
Beat,408,506,413,204
Apartment Office Prefix,NaN,NaN,NaN,NaN
Apartment Number,NaN,NaN,NaN,NaN
Location,2841 GREENBRIAR PKWY,12 BROAD ST SW,3500 MARTIN L KING JR DR SW,3393 PEACHTREE RD NE
Shift Occurence,Day Watch,Day Watch,Unknown,Evening Watch
Location Type,8,9,8,8
UCR Literal,LARCENY-NON VEHICLE,LARCENY-NON VEHICLE,LARCENY-NON VEHICLE,LARCENY-NON VEHICLE
UCR #,630,630,630,630
IBR Code,2303,2303,2303,2303
Neighborhood,Greenbriar,Downtown,Adamsville,Lenox
NPU,R,M,H,B
Latitude,33.6885,33.7532,33.7574,33.8468
Longitude,-84.4933,-84.392,-84.5028,-84.3621

In [31]:
luny.dtypes

Report Number                int64
Report Date                 object
Occur Date                  object
Occur Time                   int64
Possible Date               object
Possible Time              float64
Beat                       float64
Apartment Office Prefix     object
Apartment Number            object
Location                    object
Shift Occurence             object
Location Type               object
UCR Literal                 object
UCR #                        int64
IBR Code                    object
Neighborhood                object
NPU                         object
Latitude                   float64
Longitude                  float64
dtype: object

In [30]:
luny.select_dtypes(exclude=['int64','float64']).dtypes

Report Date                object
Occur Date                 object
Possible Date              object
Apartment Office Prefix    object
Apartment Number           object
Location                   object
Shift Occurence            object
Location Type              object
UCR Literal                object
IBR Code                   object
Neighborhood               object
NPU                        object
dtype: object

In [34]:
luny.select_dtypes(exclude=['int64','float64']).head(3).transpose()

,0,1,2
Report Date,2009-01-01,2009-01-01,2009-01-01
Occur Date,2009-01-01,2009-01-01,2009-01-01
Possible Date,2009-01-01,2009-01-01,2009-01-01
Apartment Office Prefix,NaN,NaN,NaN
Apartment Number,NaN,NaN,NaN
Location,2841 GREENBRIAR PKWY,12 BROAD ST SW,3500 MARTIN L KING JR DR SW
Shift Occurence,Day Watch,Day Watch,Unknown
Location Type,8,9,8
UCR Literal,LARCENY-NON VEHICLE,LARCENY-NON VEHICLE,LARCENY-NON VEHICLE
IBR Code,2303,2303,2303
Neighborhood,Greenbriar,Downtown,Adamsville
NPU,R,M,H

In [45]:
luny['Occur Date'].value_counts()

2011-08-01    159
2009-05-22    151
2009-08-05    150
2009-12-04    150
2009-11-17    149
2009-06-24    146
2009-01-02    144
2009-07-24    144
2009-12-05    143
2009-06-23    143
2009-01-26    143
2009-06-08    140
2009-06-26    138
2009-06-02    137
2010-12-04    137
2011-07-21    137
2009-01-09    137
2009-10-31    135
2009-06-05    135
2009-10-26    135
2010-09-03    135
2011-07-01    135
2009-11-12    134
2014-12-12    134
2011-09-03    134
2009-08-01    134
2009-06-20    134
2009-06-17    133
2009-07-01    133
2009-01-01    133
             ...
2000-04-28      1
2008-05-19      1
2008-11-30      1
1916-05-15      1
2006-09-01      1
2008-11-15      1
2006-11-25      1
2008-06-06      1
2008-09-30      1
2001-11-29      1
2008-10-20      1
2007-09-23      1
2008-10-22      1
2007-11-02      1
2007-12-04      1
2006-11-16      1
1916-08-28      1
2003-08-05      1
1976-12-30      1
2008-05-16      1
2008-12-12      1
2008-10-10      1
2004-12-01      1
2007-07-15      1
2006-04-14      1
2008-10-02      1
2008-02-25      1
2008-02-13      1
1920-03-20      1
2008-11-08      1
Name: Occur Date, Length: 3821, dtype: int64