In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
import pandas as pd

In [63]:
lunar = pd.read_html(io='https://www.timeanddate.com/moon/phases/usa/atlanta?year=2009',encoding='UTF-8',match='Lunation',flavor='lxml')

In [64]:
lunar[0]

,Lunation,New Moon,First Quarter,Full Moon,Third Quarter,Duration,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,1064,NaN,NaN,4 जनवरी,6.56,10 जनवरी,22.26,17 जनवरी,21.45,29d 19h 33m
1,1065,26 जनवरी,2.55,2 फरवरी,18.13,9 फरवरी,9.49,16 फरवरी,16.37,29d 17h 40m
2,1066,24 फरवरी,20.35,4 मार्च,2.45,10 मार्च,22.37,18 मार्च,13.47,29d 14h 31m
3,1067,26 मार्च,12.05,2 अप्रैल,10.33,9 अप्रैल,10.55,17 अप्रैल,9.36,29d 11h 17m
4,1068,24 अप्रैल,23.22,1 मई,16.44,9 मई,0.01,17 मई,3.26,29d 8h 48m
5,1069,24 मई,8.10,30 मई,23.22,7 जून,14.11,15 जून,18.14,29d 7h 24m
6,1070,22 जून,15.35,29 जून,7.28,7 जुलाई,5.21,15 जुलाई,5.53,29d 7h 00m
7,1071,21 जुलाई,22.34,28 जुलाई,17.59,5 अगस्त,20.54,13 अगस्त,14.55,29d 7h 27m
8,1072,20 अगस्त,6.01,27 अगस्त,7.42,4 सितंबर,12.02,11 सितंबर,22.15,29d 8h 43m
9,1073,18 सितंबर,14.44,26 सितंबर,0.49,4 अक्टूबर,2.10,11 अक्टूबर,4.55,29d 10h 49m
10,1074,18 अक्टूबर,1.33,25 अक्टूबर,20.42,2 नवंबर,14.13,9 नवंबर,10.55,29d 13h 41m
11,1075,16 नवंबर,14.13,24 नवंबर,16.39,2 दिसंबर,2.30,8 दिसंबर,19.13,29d 16h 48m
12,1076,16 दिसंबर,7.02,24 दिसंबर,12.36,31 दिसंबर,14.12,NaN,NaN,29d 19h 09m
13,* All times are local time for Atlanta. Time i...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
import requests

In [44]:
response = requests.get('https://www.timeanddate.com/moon/phases/usa/atlanta?year=2009',headers = {"Accept-Language": "en-US, en;q=0.5"})

In [45]:
from bs4 import BeautifulSoup

html_soup = BeautifulSoup(response.text, 'html.parser')
type(html_soup)

bs4.BeautifulSoup

In [8]:
movie_containers = html_soup.find_all('div', class_ = 'tb-scroll')
type(movie_containers)
len(movie_containers)

bs4.element.ResultSet

1