## Linear Classifier in TensorFlow 
Using Low Level API in Eager Execution mode

In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import warnings;
warnings.simplefilter('ignore')

### Load tensorflow

In [2]:
import tensorflow as tf

In [3]:
#Enable Eager Execution if using tensflow version < 2.0
#From tensorflow v2.0 onwards, Eager Execution will be enabled by default

tf.__version__

'1.13.1'

In [4]:
tf.enable_eager_execution()

### Collect Data

In [5]:
#from google.colab import drive
#drive.mount('/gdrive')

In [6]:
import pandas as pd

In [7]:
data = pd.read_csv('prices.csv')

### Check all columns in the dataset

In [8]:
data.shape

(851264, 7)

In [9]:
data.columns

Index(['date', 'symbol', 'open', 'close', 'low', 'high', 'volume'], dtype='object')

In [10]:
data.head()

,date,symbol,open,close,low,high,volume
0,2016-01-05 00:00:00,WLTW,123.430000,125.839996,122.309998,126.250000,2163600.0
1,2016-01-06 00:00:00,WLTW,125.239998,119.980003,119.940002,125.540001,2386400.0
2,2016-01-07 00:00:00,WLTW,116.379997,114.949997,114.930000,119.739998,2489500.0
3,2016-01-08 00:00:00,WLTW,115.480003,116.620003,113.500000,117.440002,2006300.0
4,2016-01-11 00:00:00,WLTW,117.010002,114.970001,114.089996,117.330002,1408600.0

### Drop columns `date` and  `symbol`

In [11]:
data.drop('date', axis=1, inplace=True)

In [12]:
data.drop('symbol', axis=1, inplace=True)

In [13]:
data.head()

         open       close         low        high     volume
0  123.430000  125.839996  122.309998  126.250000  2163600.0
1  125.239998  119.980003  119.940002  125.540001  2386400.0
2  116.379997  114.949997  114.930000  119.739998  2489500.0
3  115.480003  116.620003  113.500000  117.440002  2006300.0
4  117.010002  114.970001  114.089996  117.330002  1408600.0

### Consider only first 1000 rows in the dataset for building feature set and target set
Target 'Volume' has very high values. Divide 'Volume' by 1000,000

In [14]:
df = data.head(1000)

In [15]:
df.shape

(1000, 5)

In [16]:
df['volume'] = df['volume']/1000000

In [17]:
df.head()

         open       close         low        high  volume
0  123.430000  125.839996  122.309998  126.250000  2.1636
1  125.239998  119.980003  119.940002  125.540001  2.3864
2  116.379997  114.949997  114.930000  119.739998  2.4895
3  115.480003  116.620003  113.500000  117.440002  2.0063
4  117.010002  114.970001  114.089996  117.330002  1.4086

### Divide the data into train and test sets

In [18]:
from sklearn.model_selection import train_test_split
x=df.drop("volume",axis=1)
y=df["volume"]

#### Convert Training and Test Data to numpy float32 arrays

In [19]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=3)

x_train = x_train.astype('float32')
y_train = y_train.astype('float32')
x_test = x_test.astype('float32')
y_test = y_test.astype('float32')

In [20]:
x_train.shape

(800, 4)

### Normalize the data
You can use Normalizer from sklearn.preprocessing

In [21]:
from sklearn.preprocessing import Normalizer

In [22]:
transformer = Normalizer()
x_train = transformer.fit_transform(x_train)

In [23]:
x_test = transformer.fit_transform(x_test)

## Building the Model in tensorflow

1.Define Weights and Bias, use tf.zeros to initialize weights and Bias

In [24]:
w = tf.zeros(shape=(4,1))
b = tf.zeros(shape=(1))

In [25]:
xw_matmul = tf.matmul(x_train, w)

2.Define a function to calculate prediction

In [26]:
def prediction(x, w, b):
    
    xw_matmul = tf.matmul(x, w)
    y = tf.add(xw_matmul, b)
    
    return y

3.Loss (Cost) Function [Mean square error]

In [27]:
def loss(y_actual, y_predicted):
    
    avg = tf.reduce_mean(tf.squared_difference(y_actual,y_predicted))
    
    return avg

def cost(y_actual, y_predicted):
    
    cost = tf.reduce_sum(tf.pow(y_predicted-y_actual, 2)) / (2 * len(y_actual))
    return cost

4.Function to train the Model

1.   Record all the mathematical steps to calculate Loss
2.   Calculate Gradients of Loss w.r.t weights and bias
3.   Update Weights and Bias based on gradients and learning rate to minimize loss

In [28]:
def train(x, y_actual, w, b, learning_rate=0.01):
    
    #Record mathematical operations on 'tape' to calculate loss
    with tf.GradientTape() as t:
        
        t.watch([w,b])
        
        current_prediction = prediction(x, w, b)
        current_loss = loss(y_actual, current_prediction)
        #current_cost = cost(y_actual, current_prediction)
    #Calculate Gradients for Loss with respect to Weights and Bias
    dw, db = t.gradient(current_loss,[w, b])
    
    #Update Weights and Bias
    w = w - learning_rate*dw
    b = b - learning_rate*db
    
    return w, b

## Train the model for 100 epochs 
1. Observe the training loss at every iteration
2. Observe Train loss at every 5th iteration

In [29]:
for i in range(100):
    
    w, b = train(x_train, y_train, w, b)
    print('Current Loss on iteration', i, loss(y_train, prediction(x_train, w, b)).numpy())

Current Loss on iteration 0 197.8092
Current Loss on iteration 1 195.7881
Current Loss on iteration 2 193.92534
Current Loss on iteration 3 192.2088
Current Loss on iteration 4 190.62653
Current Loss on iteration 5 189.1686
Current Loss on iteration 6 187.82487
Current Loss on iteration 7 186.58644
Current Loss on iteration 8 185.44519
Current Loss on iteration 9 184.39333
Current Loss on iteration 10 183.42393
Current Loss on iteration 11 182.53052
Current Loss on iteration 12 181.70721
Current Loss on iteration 13 180.94847
Current Loss on iteration 14 180.24915
Current Loss on iteration 15 179.60464
Current Loss on iteration 16 179.01074
Current Loss on iteration 17 178.46338
Current Loss on iteration 18 177.95891
Current Loss on iteration 19 177.49393
Current Loss on iteration 20 177.06548
Current Loss on iteration 21 176.67062
Current Loss on iteration 22 176.30669
Current Loss on iteration 23 175.97137
Current Loss on iteration 24 175.6622
Current Loss on iteration 25 175.37727
Current Loss on iteration 26 175.1148
Current Loss on iteration 27 174.8729
Current Loss on iteration 28 174.64983
Current Loss on iteration 29 174.44435
Current Loss on iteration 30 174.255
Current Loss on iteration 31 174.08049
Current Loss on iteration 32 173.91959
Current Loss on iteration 33 173.77133
Current Loss on iteration 34 173.63467
Current Loss on iteration 35 173.50879
Current Loss on iteration 36 173.39273
Current Loss on iteration 37 173.28583
Current Loss on iteration 38 173.1872
Current Loss on iteration 39 173.09642
Current Loss on iteration 40 173.01273
Current Loss on iteration 41 172.93547
Current Loss on iteration 42 172.86443
Current Loss on iteration 43 172.79893
Current Loss on iteration 44 172.73857
Current Loss on iteration 45 172.68283
Current Loss on iteration 46 172.63159
Current Loss on iteration 47 172.5843
Current Loss on iteration 48 172.54083
Current Loss on iteration 49 172.50063
Current Loss on iteration 50 172.46353
Current Loss on iteration 51 172.42947
Current Loss on iteration 52 172.39803
Current Loss on iteration 53 172.36908
Current Loss on iteration 54 172.3424
Current Loss on iteration 55 172.31775
Current Loss on iteration 56 172.29515
Current Loss on iteration 57 172.27414
Current Loss on iteration 58 172.25502
Current Loss on iteration 59 172.2372
Current Loss on iteration 60 172.22086
Current Loss on iteration 61 172.2058
Current Loss on iteration 62 172.19193
Current Loss on iteration 63 172.17903
Current Loss on iteration 64 172.1673
Current Loss on iteration 65 172.15648
Current Loss on iteration 66 172.1464
Current Loss on iteration 67 172.13725
Current Loss on iteration 68 172.12863
Current Loss on iteration 69 172.12074
Current Loss on iteration 70 172.1136
Current Loss on iteration 71 172.10698
Current Loss on iteration 72 172.10083
Current Loss on iteration 73 172.09515
Current Loss on iteration 74 172.08992
Current Loss on iteration 75 172.08508
Current Loss on iteration 76 172.08072
Current Loss on iteration 77 172.0766
Current Loss on iteration 78 172.07283
Current Loss on iteration 79 172.06938
Current Loss on iteration 80 172.06616
Current Loss on iteration 81 172.06323
Current Loss on iteration 82 172.0605
Current Loss on iteration 83 172.05804
Current Loss on iteration 84 172.0557
Current Loss on iteration 85 172.05357
Current Loss on iteration 86 172.05168
Current Loss on iteration 87 172.0498
Current Loss on iteration 88 172.04817
Current Loss on iteration 89 172.0466
Current Loss on iteration 90 172.04523
Current Loss on iteration 91 172.0439
Current Loss on iteration 92 172.0427
Current Loss on iteration 93 172.04166
Current Loss on iteration 94 172.04057
Current Loss on iteration 95 172.03966
Current Loss on iteration 96 172.03876
Current Loss on iteration 97 172.038
Current Loss on iteration 98 172.0372
Current Loss on iteration 99 172.03654

### Get the shapes and values of W and b

In [30]:
print('Weights:\n', w.numpy())
print('Bias:\n',b.numpy())

Weights:
 [[1.2978185]
 [1.3030543]
 [1.2847368]
 [1.3140031]]
Bias:
 [2.599959]

In [31]:
xt1 = [x_test[1]]

### Model Prediction on 1st Examples in Test Dataset

In [32]:
y_predict = prediction(xt1,w,b)

In [33]:
y_predict

## Classification using tf.Keras

In this exercise, we will build a Deep Neural Network using tf.Keras. We will use Iris Dataset for this exercise.

### Load the given Iris data using pandas (Iris.csv)

In [34]:
iris = pd.read_csv('Iris.csv')

In [35]:
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [36]:
iris.Species.unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

### Target set has different categories. So, Label encode them. And convert into one-hot vectors using get_dummies in pandas.

In [37]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
iris['Species'] = le.fit_transform(iris.Species)

In [38]:
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1            5.1           3.5            1.4           0.2        0
1   2            4.9           3.0            1.4           0.2        0
2   3            4.7           3.2            1.3           0.2        0
3   4            4.6           3.1            1.5           0.2        0
4   5            5.0           3.6            1.4           0.2        0

In [39]:
dummy = pd.get_dummies(iris.Species)
iris1 = pd.concat([iris,dummy], axis=1)

In [40]:
iris1.drop('Species',axis=1,inplace=True)

In [41]:
iris1.drop('Id', axis=1,inplace=True)

In [42]:
iris1.head(5)

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  0  1  2
0            5.1           3.5            1.4           0.2  1  0  0
1            4.9           3.0            1.4           0.2  1  0  0
2            4.7           3.2            1.3           0.2  1  0  0
3            4.6           3.1            1.5           0.2  1  0  0
4            5.0           3.6            1.4           0.2  1  0  0

### Splitting the data into feature set and target set

In [43]:
x = iris1.iloc[: ,0:4]
y = iris1.iloc[:,4:7]
x.shape

(150, 4)

In [44]:
y.shape

(150, 3)

###  Building Model in tf.keras

Build a Linear Classifier model  <br>
1.  Use Dense Layer  with input shape of 4 (according to the feature set) and number of outputs set to 3<br> 
2. Apply Softmax on Dense Layer outputs <br>
3. Use SGD as Optimizer
4. Use categorical_crossentropy as loss function

In [45]:
#Initialize Sequential model
model = tf.keras.models.Sequential()

#Reshape data from 2D to 1D -> 28x28 to 784
#model.add(tf.keras.layers.Reshape((784,),input_shape=(28,28,)))

#Normalize the data
model.add(tf.keras.layers.BatchNormalization())

#Add Dense Layer which provides 10 Outputs after applying softmax
model.add(tf.keras.layers.Dense(3,input_shape=(4,), activation='softmax'))

#Comile the model
model.compile(optimizer='sgd', loss='categorical_crossentropy', metrics=['accuracy'])

### Model Training

In [46]:
import numpy as np

In [47]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3,random_state=3)

x_train = x_train.astype('float32')
y_train = y_train.astype('float32')
x_test = x_test.astype('float32')
y_test = y_test.astype('float32')

In [48]:
x_train = np.array(x_train)
x_test = np.array(x_test)
y_train = np.array(y_train)
y_test = np.array(y_test)

In [49]:
y_test

array([[1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.]], dtype=float32)

In [50]:
y_train

array([[0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.]], dtype=float32)

In [51]:
model.fit(x_train, y_train, 
          validation_data=(x_test, y_test), epochs=100)

WARNING:tensorflow:From C:\ProgramData\Anaconda3\lib\site-packages\tensorflow\python\ops\control_flow_ops.py:423: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.
Train on 105 samples, validate on 45 samples
WARNING:tensorflow:From C:\ProgramData\Anaconda3\lib\site-packages\tensorflow\python\ops\math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/100
105/105 [==============================] - 0s 2ms/sample - loss: 2.4440 - acc: 0.0381 - val_loss: 4.0536 - val_acc: 0.0222
Epoch 2/100
105/105 [==============================] - 0s 149us/sample - loss: 2.2948 - acc: 0.0190 - val_loss: 3.6743 - val_acc: 0.0222
Epoch 3/100
105/105 [==============================] - 0s 149us/sample - loss: 2.2170 - acc: 0.0190 - val_loss: 3.3436 - val_acc: 0.0222
Epoch 4/100
105/105 [==============================] - 0s 149us/sample - loss: 2.1065 - acc: 0.0286 - val_loss: 3.0481 - val_acc: 0.0000e+00
Epoch 5/100
105/105 [==============================] - 0s 0s/sample - loss: 1.9978 - acc: 0.0286 - val_loss: 2.8065 - val_acc: 0.0000e+00
Epoch 6/100
105/105 [==============================] - 0s 149us/sample - loss: 1.9012 - acc: 0.0571 - val_loss: 2.5810 - val_acc: 0.0000e+00
Epoch 7/100
105/105 [==============================] - 0s 149us/sample - loss: 1.8295 - acc: 0.0571 - val_loss: 2.3828 - val_acc: 0.0000e+00
Epoch 8/100
105/105 [==============================] - 0s 149us/sample - loss: 1.7499 - acc: 0.0762 - val_loss: 2.2203 - val_acc: 0.0000e+00
Epoch 9/100
105/105 [==============================] - 0s 149us/sample - loss: 1.6775 - acc: 0.0857 - val_loss: 2.0780 - val_acc: 0.0000e+00
Epoch 10/100
105/105 [==============================] - 0s 149us/sample - loss: 1.6303 - acc: 0.1238 - val_loss: 1.9457 - val_acc: 0.0222
Epoch 11/100
105/105 [==============================] - 0s 149us/sample - loss: 1.5625 - acc: 0.1238 - val_loss: 1.8295 - val_acc: 0.0444
Epoch 12/100
105/105 [==============================] - 0s 149us/sample - loss: 1.5066 - acc: 0.1524 - val_loss: 1.7240 - val_acc: 0.0889
Epoch 13/100
105/105 [==============================] - 0s 149us/sample - loss: 1.4486 - acc: 0.1524 - val_loss: 1.6331 - val_acc: 0.1333
Epoch 14/100
105/105 [==============================] - 0s 0s/sample - loss: 1.3962 - acc: 0.1524 - val_loss: 1.5452 - val_acc: 0.2222
Epoch 15/100
105/105 [==============================] - 0s 149us/sample - loss: 1.3565 - acc: 0.1810 - val_loss: 1.4690 - val_acc: 0.2444
Epoch 16/100
105/105 [==============================] - 0s 149us/sample - loss: 1.3038 - acc: 0.2286 - val_loss: 1.4009 - val_acc: 0.2667
Epoch 17/100
105/105 [==============================] - 0s 149us/sample - loss: 1.2658 - acc: 0.2476 - val_loss: 1.3403 - val_acc: 0.2889
Epoch 18/100
105/105 [==============================] - 0s 149us/sample - loss: 1.2292 - acc: 0.2667 - val_loss: 1.2813 - val_acc: 0.2889
Epoch 19/100
105/105 [==============================] - 0s 149us/sample - loss: 1.1834 - acc: 0.2762 - val_loss: 1.2297 - val_acc: 0.2889
Epoch 20/100
105/105 [==============================] - 0s 0s/sample - loss: 1.1525 - acc: 0.2857 - val_loss: 1.1833 - val_acc: 0.3111
Epoch 21/100
105/105 [==============================] - 0s 149us/sample - loss: 1.1138 - acc: 0.3238 - val_loss: 1.1432 - val_acc: 0.3111
Epoch 22/100
105/105 [==============================] - 0s 149us/sample - loss: 1.0916 - acc: 0.3333 - val_loss: 1.1059 - val_acc: 0.3111
Epoch 23/100
105/105 [==============================] - 0s 148us/sample - loss: 1.0538 - acc: 0.4095 - val_loss: 1.0689 - val_acc: 0.3333
Epoch 24/100
105/105 [==============================] - 0s 149us/sample - loss: 1.0315 - acc: 0.4476 - val_loss: 1.0361 - val_acc: 0.3333
Epoch 25/100
105/105 [==============================] - 0s 149us/sample - loss: 1.0040 - acc: 0.4476 - val_loss: 1.0051 - val_acc: 0.3556
Epoch 26/100
105/105 [==============================] - 0s 149us/sample - loss: 0.9808 - acc: 0.4762 - val_loss: 0.9757 - val_acc: 0.3778
Epoch 27/100
105/105 [==============================] - 0s 149us/sample - loss: 0.9616 - acc: 0.4952 - val_loss: 0.9481 - val_acc: 0.4000
Epoch 28/100
105/105 [==============================] - 0s 149us/sample - loss: 0.9357 - acc: 0.5429 - val_loss: 0.9228 - val_acc: 0.4444
Epoch 29/100
105/105 [==============================] - 0s 149us/sample - loss: 0.9106 - acc: 0.5714 - val_loss: 0.8990 - val_acc: 0.4667
Epoch 30/100
105/105 [==============================] - 0s 149us/sample - loss: 0.8932 - acc: 0.5810 - val_loss: 0.8759 - val_acc: 0.5556
Epoch 31/100
105/105 [==============================] - 0s 149us/sample - loss: 0.8784 - acc: 0.5905 - val_loss: 0.8555 - val_acc: 0.6667
Epoch 32/100
105/105 [==============================] - 0s 149us/sample - loss: 0.8597 - acc: 0.6571 - val_loss: 0.8348 - val_acc: 0.6889
Epoch 33/100
105/105 [==============================] - 0s 149us/sample - loss: 0.8521 - acc: 0.6476 - val_loss: 0.8155 - val_acc: 0.7111
Epoch 34/100
105/105 [==============================] - 0s 149us/sample - loss: 0.8274 - acc: 0.6667 - val_loss: 0.7985 - val_acc: 0.6889
Epoch 35/100
105/105 [==============================] - 0s 0s/sample - loss: 0.8116 - acc: 0.6667 - val_loss: 0.7818 - val_acc: 0.8222
Epoch 36/100
105/105 [==============================] - 0s 0s/sample - loss: 0.8071 - acc: 0.6762 - val_loss: 0.7655 - val_acc: 0.8444
Epoch 37/100
105/105 [==============================] - 0s 0s/sample - loss: 0.7861 - acc: 0.6762 - val_loss: 0.7499 - val_acc: 0.8444
Epoch 38/100
105/105 [==============================] - 0s 149us/sample - loss: 0.7716 - acc: 0.6667 - val_loss: 0.7353 - val_acc: 0.8444
Epoch 39/100
105/105 [==============================] - 0s 0s/sample - loss: 0.7802 - acc: 0.6667 - val_loss: 0.7220 - val_acc: 0.8444
Epoch 40/100
105/105 [==============================] - 0s 149us/sample - loss: 0.7559 - acc: 0.6952 - val_loss: 0.7089 - val_acc: 0.8667
Epoch 41/100
105/105 [==============================] - 0s 149us/sample - loss: 0.7572 - acc: 0.6952 - val_loss: 0.6963 - val_acc: 0.8667
Epoch 42/100
105/105 [==============================] - 0s 149us/sample - loss: 0.7308 - acc: 0.6857 - val_loss: 0.6843 - val_acc: 0.8222
Epoch 43/100
105/105 [==============================] - 0s 0s/sample - loss: 0.7324 - acc: 0.6952 - val_loss: 0.6731 - val_acc: 0.8444
Epoch 44/100
105/105 [==============================] - 0s 149us/sample - loss: 0.7223 - acc: 0.6762 - val_loss: 0.6620 - val_acc: 0.8444
Epoch 45/100
105/105 [==============================] - 0s 149us/sample - loss: 0.7121 - acc: 0.7048 - val_loss: 0.6521 - val_acc: 0.8444
Epoch 46/100
105/105 [==============================] - 0s 0s/sample - loss: 0.6978 - acc: 0.6857 - val_loss: 0.6425 - val_acc: 0.8444
Epoch 47/100
105/105 [==============================] - 0s 149us/sample - loss: 0.6788 - acc: 0.6762 - val_loss: 0.6335 - val_acc: 0.8444
Epoch 48/100
105/105 [==============================] - 0s 149us/sample - loss: 0.6722 - acc: 0.6952 - val_loss: 0.6246 - val_acc: 0.8000
Epoch 49/100
105/105 [==============================] - 0s 0s/sample - loss: 0.6682 - acc: 0.6952 - val_loss: 0.6160 - val_acc: 0.8000
Epoch 50/100
105/105 [==============================] - 0s 0s/sample - loss: 0.6801 - acc: 0.6571 - val_loss: 0.6074 - val_acc: 0.8000
Epoch 51/100
105/105 [==============================] - 0s 149us/sample - loss: 0.6492 - acc: 0.6762 - val_loss: 0.5996 - val_acc: 0.7778
Epoch 52/100
105/105 [==============================] - 0s 149us/sample - loss: 0.6731 - acc: 0.7048 - val_loss: 0.5930 - val_acc: 0.7778
Epoch 53/100
105/105 [==============================] - 0s 0s/sample - loss: 0.6476 - acc: 0.6857 - val_loss: 0.5861 - val_acc: 0.7778
Epoch 54/100
105/105 [==============================] - 0s 149us/sample - loss: 0.6334 - acc: 0.6667 - val_loss: 0.5794 - val_acc: 0.7778
Epoch 55/100
105/105 [==============================] - 0s 149us/sample - loss: 0.6336 - acc: 0.6857 - val_loss: 0.5730 - val_acc: 0.7778
Epoch 56/100

105/105 [==============================] - 0s 149us/sample - loss: 0.6359 - acc: 0.6667 - val_loss: 0.5671 - val_acc: 0.7778
Epoch 57/100
105/105 [==============================] - 0s 0s/sample - loss: 0.6131 - acc: 0.6667 - val_loss: 0.5612 - val_acc: 0.7778
Epoch 58/100
105/105 [==============================] - 0s 149us/sample - loss: 0.6135 - acc: 0.6952 - val_loss: 0.5553 - val_acc: 0.7778
Epoch 59/100
105/105 [==============================] - 0s 149us/sample - loss: 0.6041 - acc: 0.7238 - val_loss: 0.5500 - val_acc: 0.7778
Epoch 60/100
105/105 [==============================] - 0s 0s/sample - loss: 0.6137 - acc: 0.7143 - val_loss: 0.5449 - val_acc: 0.7778
Epoch 61/100
105/105 [==============================] - 0s 149us/sample - loss: 0.6125 - acc: 0.6762 - val_loss: 0.5394 - val_acc: 0.7778
Epoch 62/100
105/105 [==============================] - 0s 149us/sample - loss: 0.6115 - acc: 0.7333 - val_loss: 0.5347 - val_acc: 0.7778
Epoch 63/100
105/105 [==============================] - 0s 0s/sample - loss: 0.5991 - acc: 0.6952 - val_loss: 0.5300 - val_acc: 0.7778
Epoch 64/100
105/105 [==============================] - 0s 149us/sample - loss: 0.5811 - acc: 0.6857 - val_loss: 0.5252 - val_acc: 0.7778
Epoch 65/100
105/105 [==============================] - 0s 149us/sample - loss: 0.5746 - acc: 0.6762 - val_loss: 0.5206 - val_acc: 0.7778
Epoch 66/100
105/105 [==============================] - 0s 0s/sample - loss: 0.5822 - acc: 0.6952 - val_loss: 0.5160 - val_acc: 0.7778
Epoch 67/100
105/105 [==============================] - 0s 149us/sample - loss: 0.5659 - acc: 0.6952 - val_loss: 0.5119 - val_acc: 0.7556
Epoch 68/100
105/105 [==============================] - 0s 149us/sample - loss: 0.5617 - acc: 0.7143 - val_loss: 0.5078 - val_acc: 0.8000
Epoch 69/100
105/105 [==============================] - 0s 0s/sample - loss: 0.5627 - acc: 0.6952 - val_loss: 0.5038 - val_acc: 0.8000
Epoch 70/100
105/105 [==============================] - 0s 149us/sample - loss: 0.5527 - acc: 0.6952 - val_loss: 0.5000 - val_acc: 0.7778
Epoch 71/100
105/105 [==============================] - 0s 149us/sample - loss: 0.5620 - acc: 0.6762 - val_loss: 0.4964 - val_acc: 0.7778
Epoch 72/100
105/105 [==============================] - 0s 149us/sample - loss: 0.5447 - acc: 0.7048 - val_loss: 0.4929 - val_acc: 0.7778
Epoch 73/100
105/105 [==============================] - 0s 0s/sample - loss: 0.5396 - acc: 0.7048 - val_loss: 0.4895 - val_acc: 0.7778
Epoch 74/100
105/105 [==============================] - 0s 149us/sample - loss: 0.5522 - acc: 0.7524 - val_loss: 0.4853 - val_acc: 0.7778
Epoch 75/100
105/105 [==============================] - 0s 149us/sample - loss: 0.5449 - acc: 0.7143 - val_loss: 0.4818 - val_acc: 0.7778
Epoch 76/100
105/105 [==============================] - 0s 0s/sample - loss: 0.5298 - acc: 0.7524 - val_loss: 0.4786 - val_acc: 0.7778
Epoch 77/100
105/105 [==============================] - 0s 149us/sample - loss: 0.5465 - acc: 0.7333 - val_loss: 0.4757 - val_acc: 0.7778
Epoch 78/100
105/105 [==============================] - 0s 149us/sample - loss: 0.5522 - acc: 0.7143 - val_loss: 0.4725 - val_acc: 0.7778
Epoch 79/100
105/105 [==============================] - 0s 0s/sample - loss: 0.5616 - acc: 0.7524 - val_loss: 0.4698 - val_acc: 0.7778
Epoch 80/100
105/105 [==============================] - 0s 0s/sample - loss: 0.5251 - acc: 0.7429 - val_loss: 0.4670 - val_acc: 0.7778
Epoch 81/100
105/105 [==============================] - 0s 149us/sample - loss: 0.5150 - acc: 0.7429 - val_loss: 0.4641 - val_acc: 0.7778
Epoch 82/100
105/105 [==============================] - 0s 149us/sample - loss: 0.5131 - acc: 0.7333 - val_loss: 0.4612 - val_acc: 0.7778
Epoch 83/100
105/105 [==============================] - 0s 0s/sample - loss: 0.5173 - acc: 0.8381 - val_loss: 0.4581 - val_acc: 0.7778
Epoch 84/100
105/105 [==============================] - 0s 149us/sample - loss: 0.5567 - acc: 0.7429 - val_loss: 0.4551 - val_acc: 0.7778
Epoch 85/100
105/105 [==============================] - 0s 149us/sample - loss: 0.5440 - acc: 0.7524 - val_loss: 0.4524 - val_acc: 0.7778
Epoch 86/100
105/105 [==============================] - 0s 0s/sample - loss: 0.5033 - acc: 0.7714 - val_loss: 0.4497 - val_acc: 0.7778
Epoch 87/100
105/105 [==============================] - 0s 149us/sample - loss: 0.5088 - acc: 0.8000 - val_loss: 0.4471 - val_acc: 0.7778
Epoch 88/100
105/105 [==============================] - 0s 149us/sample - loss: 0.5057 - acc: 0.7524 - val_loss: 0.4447 - val_acc: 0.7778
Epoch 89/100
105/105 [==============================] - 0s 149us/sample - loss: 0.5014 - acc: 0.7143 - val_loss: 0.4417 - val_acc: 0.7778
Epoch 90/100
105/105 [==============================] - 0s 0s/sample - loss: 0.5343 - acc: 0.7524 - val_loss: 0.4388 - val_acc: 0.7778
Epoch 91/100
105/105 [==============================] - 0s 149us/sample - loss: 0.4908 - acc: 0.7524 - val_loss: 0.4366 - val_acc: 0.7778
Epoch 92/100
105/105 [==============================] - 0s 149us/sample - loss: 0.4932 - acc: 0.7524 - val_loss: 0.4339 - val_acc: 0.8000
Epoch 93/100
105/105 [==============================] - 0s 149us/sample - loss: 0.4831 - acc: 0.7905 - val_loss: 0.4313 - val_acc: 0.8000
Epoch 94/100
105/105 [==============================] - 0s 0s/sample - loss: 0.5130 - acc: 0.7619 - val_loss: 0.4290 - val_acc: 0.8000
Epoch 95/100
105/105 [==============================] - 0s 158us/sample - loss: 0.4979 - acc: 0.7810 - val_loss: 0.4268 - val_acc: 0.8000
Epoch 96/100
105/105 [==============================] - 0s 149us/sample - loss: 0.4821 - acc: 0.7905 - val_loss: 0.4246 - val_acc: 0.8000
Epoch 97/100
105/105 [==============================] - 0s 0s/sample - loss: 0.5130 - acc: 0.7810 - val_loss: 0.4226 - val_acc: 0.8000
Epoch 98/100
105/105 [==============================] - 0s 178us/sample - loss: 0.4839 - acc: 0.7714 - val_loss: 0.4204 - val_acc: 0.8000
Epoch 99/100
105/105 [==============================] - 0s 0s/sample - loss: 0.4798 - acc: 0.8000 - val_loss: 0.4187 - val_acc: 0.8000
Epoch 100/100
105/105 [==============================] - 0s 149us/sample - loss: 0.4677 - acc: 0.7905 - val_loss: 0.4167 - val_acc: 0.8000

### Model Prediction

In [52]:
xt1 = x_test[0:1]

In [53]:
model.predict(xt1)

array([[0.90091646, 0.08952145, 0.00956201]], dtype=float32)

In [54]:
y_test[0:1]

array([[1., 0., 0.]], dtype=float32)

### Save the Model

In [55]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
batch_normalization_v1 (Batc multiple                  16
_________________________________________________________________
dense (Dense)                multiple                  15
=================================================================
Total params: 31
Trainable params: 23
Non-trainable params: 8
_________________________________________________________________

In [56]:
model.save_weights('iris_1.h5')

### Build and Train a Deep Neural network with 2 hidden layer  - Optional - For Practice

Does it perform better than Linear Classifier? What could be the reason for difference in performance?